{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block content %}

    <h2>Add Task </h2>
    <p> Here is where you can add a task to the Group</p>


  <form action="/group/{{ group_id }}/add-task" method="POST">

            <input
                type="text"
                name="task_name"
                placeholder="Put task name here"
                required
            >

            
            <textarea
                name="description"
                placeholder="Put description on what the task is"
                required
            ></textarea>

            <input
                type="date"
                name="time_stamp"
                placeholder="Time"
                required
            >

            <input
                type="url"
                name="maprunner_url"
                placeholder="Only maprunner urls here"
                
            >


            <a href="/group/{{ group_id }}" role="button">Cancel</a>

            <button>Confirm</button>

        </form>

{% endblock %}

