{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

 <article>
    <h1>Group info:</h1>

    {% if my_group %}

        Name: {{ my_group.name }}
        Key: <code>{{ my_group.pass_key }}</code>
 
    {% endif %}
</article>



  <a href="/group/{{ my_group.id }}/add-task " role="button">Add Task</a>
  <a href="/main " role="button">Back</a>
  <A HREF="/leave-group" role="button">Leave Group</A>

{% endblock %}

