{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Snow PLanner

{% endblock %}


{% block content %}

    <h1>Welcome To Snow Planner </h1>
    

    <p>This is a simple to use website where you can plan sessions or task with your friends or family. Snow Planner allows you to keep track of all sorts of games and their task.</p>

      Dont have a account Sign Up <a href="/sign_up">Here</a>

{% endblock %}
