{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}


{% extends 'pages/base.jinja' %}

{% block content %}

    <h2>Join Group:</h2>
    <p> Here is where you can join groups</p>


  <form action="/join-group" method="POST">

            <input
                type="text"
                name="pass_key"
                placeholder="Group Jion Code"
                maxlength="7"
                required
            >

            <a href="/main" role="button">Cancel</a>

            <button>Confirm</button>

        </form>

{% endblock %}
