{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h1>My Groups:</h1>

    <a href="/group " role="button">See Group Info</a>
    <a href="/creator " role="button">Create Group</a>
    <a href="/join " role="button">Join Group </a>

{% endblock %}
