{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h1>My Groups:</h1>

    {% if groups %}
        <ul>
            {% for group in groups %}
                <p>
                  Name: {{ group.name }}
                </p>
                <p>
                  Key: <code>{{ group.pass_key }}</code>
                </p>
                <p>
                  <a href="/group/{{ group.id }}">Click here for more group info</a>
                </p>

            {% endfor %}
        </ul>
    {% else %}
        <p>You are not a member or owner of any groups yet.</p>
    {% endif %}




    <a href="/creator " role="button">Create Group</a>
    <a href="/join " role="button">Join Group </a>

{% endblock %}
