{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

  <article>
    <h1>Groups I CReated:</h1>

    {% if owned_groups %}
        <ul>
            {% for group in owned_groups %}
                <li>
                  Name: <a href="/group/{{ group.id }}">{{ group.name }}</a>, Key: <code>{{ group.pass_key }}</code>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not an owner of any groups yet.</p>
    {% endif %}
</article>

<article>
    <h1>Groups I Have Joined:</h1>

    {% if member_groups %}
        <ul>
            {% for group in member_groups %}
                <li>
                  Name: <a href="/group/{{ group.id }}">{{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not a member any groups yet.</p>
    {% endif %}
</article>



    <a href="/creator " role="button">Create Group</a>
    <a href="/join " role="button">Join Group </a>

{% endblock %}
